body,h1,h2,p,a { font-family: 'Kanit', sans-serif;}
body {
	font-family: Courier, monospace;
	background-color: #dee2e6}

body {font-weight: 600}

body {text-align: center;}


.card {
			width: 700px;
		    margin: 30px auto;
		    padding: 30px;
		    background-color: #415a77;
		    BOX-SHADOW: 0px 10px 30px #34475d;
		    border-radius: 10px;
}
	

h1 {
	color:#e0e1dd ;
	font-weight: 100;
	letter-spacing: 2px;
	font-size: 50px;
	font-weight: bold;}

h2 {
	font-weight: 100,bold;
	text-transform: uppercase;
	color: #e0e1dd;
	text-decoration: underline;}

p {color: #e0e1dd}
a { color: #e0e1dd }
a:hover {color: red}

img {
	border-radius: 50%}
img {width: 230px}

@media (max-width: 960px) {
  



}
		    
